/* Computed Styles copied from the main.scss of the GTN page */
blockquote.tip {
  margin-top: 4rem;
  padding: 0.6rem 0.89rem 1rem;
  border: 1px solid var(--tip-color);
  box-shadow: 3px 3px var(--tip-color);
}
blockquote {
  margin: 0 0 1rem;
    margin-top: 0px;
}
*, ::after, ::before {
  box-sizing: inherit;
}

blockquote.tip > h3, blockquote.tip > .box-title {
  font-size: 18px;
  margin-inline-start: -1rem;
  margin-inline-end: -1rem;
  margin-top: -3.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background-color: var(--tip-color);
  color: var(--text-color-boxtitle);
  vertical-align: 1em;
  float: inline-start;
  border: 1px solid var(--tip-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
*, ::after, ::before {
  box-sizing: inherit;
}

blockquote.tip > h3 button, blockquote.tip > .box-title button {
  background: transparent;
  border: none;
  cursor: pointer;
}
blockquote.tip > h3, blockquote.tip > .box-title {
  font-size: 18px;
  color: var(--text-color-boxtitle);
}
