# Get started with #single-cell

Are you new to Galaxy, or returning after a long time, and looking for help to get started?

You may be interested in the following resources:

<i class="fa fa-map" aria-hidden="true"></i> [Guided tour]({{ page.website }}/tours/core.galaxy_ui) through Galaxy's user interface.\
<i class="fa fa-road" aria-hidden="true"></i> [Learning pathway for getting to grips with Galaxy and single cell](https://training.galaxyproject.org/training-material/learning-pathways/intro_single_cell.html)\
<i class="fa fa-question-circle-o" aria-hidden="true"></i> [Single cell help forum](https://help.galaxyproject.org/tag/scrna)\
<i class="fa fa-comments-o" aria-hidden="true"></i> [Single cell Galaxy user community chat room](https://matrix.to/#/#Galaxy-Training-Network_galaxy-single-cell:gitter.im)


# Training

Want to learn even more about #single-cell analyses? You can check out our single cell training page within the wider Galaxy Training Network.

<i class="fa fa-book" aria-hidden="true"></i> [Single cell training material](https://training.galaxyproject.org/training-material/topics/single-cell/)\
<i class="fa fa-mortar-board" aria-hidden="true"></i> [the Galaxy Training Network](https://galaxyproject.github.io/training-material/)

<iframe src="https://training.galaxyproject.org/training-material/tags/single-cell/embed.html" height="600px" width="100%" class="gtn-embed" frameborder="0"></iframe>

# Workflows

In addition to our fantastic training materials, we encourage users to share their workflows!

[Tag your workflows](https://training.galaxyproject.org/training-material/faqs/galaxy/workflows_annotate.html) with **#single-cell** and share publicly with other users!
   {: .alert.alert-success}

You can see shared workflows below.

<iframe src="https://training.galaxyproject.org/training-material/workflows/embed.html?query=single-cell" height="600px" width="100%" class="gtn-embed" frameborder="0"></iframe>


# Asking for help
Are you stuck? Galaxy is community driven, so we have a lot of resources to try and help you. In order, we suggest trying the following to get help!
1. [General help forum](https://help.galaxyproject.org/c/usegalaxy-eu-support/6) or for single-cell specific questions, [Single cell help forum](scrna)
2. [Single cell Galaxy user community chat room](https://matrix.to/#/#Galaxy-Training-Network_galaxy-single-cell:gitter.im)
3. [Galaxy Training Community chat](https://matrix.to/#/#Galaxy-Training-Network_Lobby:gitter.im)
4. [Usegalaxy.eu chat](https://matrix.to/#/#usegalaxy-eu_Lobby:gitter.im )
5. [Usegalaxy.org chat](https://matrix.to/#/#galaxyproject_Lobby:gitter.im )

# Asking for tools
Our Single Cell & sPatial Omics Community of practice welcomes tool requests. We’re an open source, community-driven group, so we can’t guarantee everything, but we can certainly try to get the tools users need most into Galaxy! You can request tools at the following link:

[<i class="fa fa-wrench" aria-hidden="true"></i> Tool Requests from Users](https://docs.google.com/spreadsheets/d/15hqgqA-RMDhXR-ylKhRF-Dab9Ij2arYSKiEVoPl2df4/edit?usp=sharing)

# Join the Single Cell & sPatial Omics Community of practice (SPOC)
Want to talk with trainers and developers on how to improve single cell omics analysis in Galaxy? Join the Community of Practice - we’re a nice bunch!

<i class="fa fa-hand-o-right" aria-hidden="true"></i> Go to our [Community of Practice site](https://galaxyproject.org/projects/singlecell/) to read more and join us!


<!-- # Events and Workshops -->

<!-- We will be hosting a scRNA-seq workshop [this March](https://usegalaxy-eu.github.io/event/2020-01-20-GalaxyWS_scrna_FR/plain.html). Please register whilst spots are still open! -->


<section class="my-5">
  <h4 class="mb-3">What's happening in {{ nationality }} Single Cell and Spatial Omics research?</h4>
  <button
    class="ga-btn"
    data-bs-toggle="modal"
    data-bs-target="#communityConnectModal"
  >
    Explore
  </button>
  <br>
  <br>
  <h4 class="mb-3">What do you think of the {{ site_name }}?</h4>
  <button
    class="ga-btn"
    data-bs-toggle="modal"
    data-bs-target="#feedbackModal"
  >
    Give feedback
  </button>
</section>


<div class="modal fade" id="feedbackModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="feedbackForm">

        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Feedback</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="clearForm()"></button>
        </div>
        <div class="modal-body">
          <div class="default-content">
            <p>
              We'd love to hear your feedback on the Galaxy Australia {{ site_name }}. Please let us know what
              you think!
            </p>
            <div class="mb-3">
              <label for="nameInput" class="form-label">Name</label>

              <input type="text" class="form-control" id="nameInput" required>
            </div>
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">In case we'd like to contact you for more information.</div>
            </div>
            <div class="mb-3">
              <label for="messageInput" class="form-label">Your feedback</label>
              <textarea class="form-control" id="messageInput" rows="8" required></textarea>
            </div>
          </div>

          <div class="success-content" style="display: none;">
            <p class="alert alert-success">Thanks for your feedback!</p>
          </div>

          <div class="loading m-5 text-center" style="display: none;">
            <img src="https://raw.githubusercontent.com/usegalaxy-au/galaxy-media-site/dev/webapp/home/static/home/img/spinner.svg" alt="Loading animation" width="150px">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearForm();">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="communityConnectModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Australian genomics research</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          <p><a href="https://www.biocommons.org.au/genomics-domain" target="_blank">Discover more genomics activities and services supported by Australian BioCommons</a></p>
          <p><a href="https://groups.google.com/a/biocommons.org.au/g/genome-assembly" target="_blank">Join the Australian BioCommons Genome Assembly Community Group</a></p>
          <p><a href="https://groups.google.com/a/biocommons.org.au/g/genome-annotation" target="_blank">Join the Australian BioCommons Genome Annotation Community Group</a></p>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  function clearForm() {
    setTimeout(() => {
      document.getElementById('feedbackForm').reset();
      $('#feedbackForm .default-content').show();
      $('#feedbackForm .success-content').hide();
      $('#feedbackForm .loading').hide();
      $('button[type="submit"]').show();
    }, 500);
  }

  function submitForm(event) {
    event.preventDefault();
    $('#feedbackForm .loading').show();
    $('#feedbackForm .default-content').hide();
    $('button[type="submit"]').hide();

    // Clear any previous errors
    $('#feedbackForm .error-message').remove();
    $('#feedbackForm .invalid').removeClass('invalid');

    let formData = new FormData();
    formData.append('name', $('#nameInput').val());
    formData.append('email', $('#emailInput').val());
    formData.append('message', $('#messageInput').val());

    fetch('/feedback/{{ subdomain }}', {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCsrfToken(),
      },
      body: formData,
    }).then(r => r.json())
      .then(data => {
        if (data.success) {
          showSuccess();
        } else {
          showErrors(JSON.parse(data.errors_json));
        }
      });
  }

  function getCsrfToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
  }

  function showSuccess() {
    console.log("Form success");
    $('#feedbackForm .loading').hide();
    $('#feedbackForm .default-content').hide();
    $('#feedbackForm .success-content').show();
  }

  function showErrors(errors) {
    Object.keys(errors).forEach( (field) => {
      errors[field].forEach( err => {
        const msg = err.message;
        $(`#${field}Input`)
          .addClass('invalid')
          .parent().append(`<small class="text-danger error-message">${msg}</small>`);
      })
    });
    $('#feedbackForm .loading').hide();
    $('#feedbackForm .default-content').show();
    $('button[type="submit"]').show();
  }

  $('#feedbackForm').submit(submitForm);

</script>
