<section class="my-5" id="tagline">
  <p>

    Welcome to the Galaxy {{ site_name }} {{ lab_name }}. Get quick access to Single Cell Omics analysis tutorials, tools, and workflows that let you analyse data without programming experience or private infrastructure.

    <img src="https://github.com/galaxyproject/galaxy_codex/blob/main/results/spoc/tools_wordcloud.png" alt="Word cloud of common single cell tools including Seurat and Scanpy">

    <br>
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#infoModal">
      How does this page relate to Galaxy {{ site_name }} {{ lab_name }}
    </a>
  </p>

  <div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Galaxy {{ site_name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This site <em>{{ subdomain }}.{{ root_domain }}</em> is connected to the same server as <em>{{ root_domain }}</em>, but with an interface dedicated to helping our {{ nationality }} researchers. Your history, jobs and data quota are shared with the "Base" website.
          </p>

          <div class="my-3">
            Switch between sites quickly using the dropdown in Galaxy {{ site_name }}'s main navigation bar:
            <img class="w-100 my-3 mx-auto" src="https://github.com/usegalaxy-au/galaxy-media-site/blob/dev/webapp/home/static/home/img/subdomains/site-switcher.png?raw=true" alt="Switch site button">
          </div>

          <p><a class="ga-btn" href="{{ galaxy_base_url }}" target="_blank">Take me back to Galaxy {{ site_name }}</a></p>
          <p><a class="ga-btn" href="/about">What is Galaxy Australia?</a></p>
          <p><a class="ga-btn" href="/request/support">Galaxy Australia support</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>


    # Get started with #single-cell

    Are you new to Galaxy, or returning after a long time, and looking for help to get started?

    You may be interested in the following resources:

    <i class="fa fa-map" aria-hidden="true"></i> [Guided tour]({{ page.website }}/tours/core.galaxy_ui) through Galaxy's user interface.\
    <i class="fa fa-road" aria-hidden="true"></i> [Learning pathway for getting to grips with Galaxy and single cell](https://training.galaxyproject.org/training-material/learning-pathways/intro_single_cell.html)\
    <i class="fa fa-question-circle-o" aria-hidden="true"></i> [Single cell help forum](https://help.galaxyproject.org/tag/scrna)\
    <i class="fa fa-comments-o" aria-hidden="true"></i> [Single cell Galaxy user community chat room](https://matrix.to/#/#Galaxy-Training-Network_galaxy-single-cell:gitter.im)


    # Training

    Want to learn even more about #single-cell analyses? You can check out our single cell training page within the wider Galaxy Training Network.

    <i class="fa fa-book" aria-hidden="true"></i> [Single cell training material](https://training.galaxyproject.org/training-material/topics/single-cell/)\
    <i class="fa fa-mortar-board" aria-hidden="true"></i> [the Galaxy Training Network](https://galaxyproject.github.io/training-material/)

    <iframe src="https://training.galaxyproject.org/training-material/tags/single-cell/embed.html" height="600px" width="100%" class="gtn-embed" frameborder="0"></iframe>

    # Workflows

    In addition to our fantastic training materials, we encourage users to share their workflows!

    [Tag your workflows](https://training.galaxyproject.org/training-material/faqs/galaxy/workflows_annotate.html) with **#single-cell** and share publicly with other users!
       {: .alert.alert-success}

    You can see shared workflows below.

    <iframe src="https://training.galaxyproject.org/training-material/workflows/embed.html?query=single-cell" height="600px" width="100%" class="gtn-embed" frameborder="0"></iframe>


    # Asking for help
    Are you stuck? Galaxy is community driven, so we have a lot of resources to try and help you. In order, we suggest trying the following to get help!
    1. [General help forum](https://help.galaxyproject.org/c/usegalaxy-eu-support/6) or for single-cell specific questions, [Single cell help forum](scrna)
    2. [Single cell Galaxy user community chat room](https://matrix.to/#/#Galaxy-Training-Network_galaxy-single-cell:gitter.im)
    3. [Galaxy Training Community chat](https://matrix.to/#/#Galaxy-Training-Network_Lobby:gitter.im)
    4. [Usegalaxy.eu chat](https://matrix.to/#/#usegalaxy-eu_Lobby:gitter.im )
    5. [Usegalaxy.org chat](https://matrix.to/#/#galaxyproject_Lobby:gitter.im )

    # Asking for tools
    Our Single Cell & sPatial Omics Community of practice welcomes tool requests. We’re an open source, community-driven group, so we can’t guarantee everything, but we can certainly try to get the tools users need most into Galaxy! You can request tools at the following link:

    [<i class="fa fa-wrench" aria-hidden="true"></i> Tool Requests from Users](https://docs.google.com/spreadsheets/d/15hqgqA-RMDhXR-ylKhRF-Dab9Ij2arYSKiEVoPl2df4/edit?usp=sharing)

    # Join the Single Cell & sPatial Omics Community of practice (SPOC)
    Want to talk with trainers and developers on how to improve single cell omics analysis in Galaxy? Join the Community of Practice - we’re a nice bunch!

    <i class="fa fa-hand-o-right" aria-hidden="true"></i> Go to our [Community of Practice site](https://galaxyproject.org/projects/singlecell/) to read more and join us!


    <!-- # Events and Workshops -->

    <!-- We will be hosting a scRNA-seq workshop [this March](https://usegalaxy-eu.github.io/event/2020-01-20-GalaxyWS_scrna_FR/plain.html). Please register whilst spots are still open! -->
